div{
  color: white;
  font-weight: bold;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color:#02abad;
  border-radius: 20px;
}

.title {
  color: white;
  text-align: center;
}

.btn {
  margin: 10px 0 20px 0;
  font-weight: bold;
}


@media only screen and (max-width: 600px) {
  .content {
    margin-top: 70px;
    margin-bottom: 10px;
  }
}

