<div class="container-fluid wraper">
  <div class="container content">
    <h1>REGRAS DO JOGO</h1>

    <div>
      <ol>
        <li>O jogo funciona em turnos, sendo cada turno uma interação do jogador e uma interação automática do inimigo.</li>
        <li>O jogador e o inimigo possuem uma barra de vida, tendo ambos a mesma quantidade de pontos de vida (100). </li>
        <li>O jogador possui 4 botões de interação a seguir:  </li>

        <ul>
          <li>Ataque Básico
            <ul>
              <li>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, o dano varia entre 5 e 10 pontos.</li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>Ataque Especial
            <ul>
              <li>O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, o dano varia entre 10 e 20 pontos.</li>
              <li>O ataque especial necessita de no mínimo 2 turnos após utilização e não estará habilitado enquanto não carregado, ou seja, o especial não pode ser acionado por 2 turnos após sua utilização.</li>
              <li>Ao acionar o ataque especial o inimigo tem 50% de chance de não atacar no próximo turno. Este apresentará um indicativo de atordoado quando não atacar.</li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>Curar
            <ul>
              <li>O jogador receberá um aumento nos seus pontos de vida, o valor de cura varia entre 5 e 15.</li>
            </ul>
          </li>
        </ul>
        <ul>

          <li>Desistir
            <ul>
              <li>O jogo é terminado e irá para tela de inicio do jogo.</li>
            </ul>
          </li>
        </ul>

        <li>Ações do inimigo</li>
        <ul>
          <li>Ataque Básico
            <ul>
              <li> O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 6 e 12.</li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>Ataque Especial
            <ul>
              <li>O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, o valor do dano varia entre 8 e 16. </li>
              <li>O ataque especial do inimigo é acionado automaticamente a cada 3 turnos.</li>
            </ul>
          </li>
        </ul>
      </ol>
    </div>
  </div>
</div>
