.navbar {
  background-color:#02abad;
}

.navbar-toggler {
  background-color: white;
  color: #02abad;
}



.navbar-brand, .nav-link{
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

li a:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
}

li .ativo {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
  li a:hover {
    color: white;
    transition: 0.2s ease-in;
  }

  li a:focus {
    background-color: white;
    color: black;
  }
}
