<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">DefeatTheMonster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="ativo" routerLink="/home">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="ativo" routerLink="/ranking">Ranking</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="ativo" routerLink="/rules">Regras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

