img {
  width: 300px;
  height: 300px;
}

.container {
  background-color: black;
}

.heroes {
  margin-top: 35px;
}

.title {
  color: white;
  margin-top: 10px;
}

.player, .enemy {
  margin-top: 20px;
}

.bar-life {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  width: 300px;
  height: 20px;

}

.life-pts {
  position: absolute;
  color: black;
  font-size: 18px;
  margin-left: 8rem;
  font-weight: bold;
}

.logs {
  height: 30vh;
  overflow-y: scroll
}

.logs::-webkit-scrollbar {
  display: none;
}

.attack-enemy {
  color: white;
  font-weight: bold;
  background-color: red;
}

.stunned-enemy {
  color: white;
  font-weight: bold;
  background-color: darksalmon;
}

.attack-player {
  color: white;
  font-weight: bold;
  background-color: blue;
}

.attack-especial {
  color: white;
  font-weight: bold;
  background-color: goldenrod;
}

.heal {
  color: white;
  font-weight: bold;
  background-color: green;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10rem;
  margin-left: 5px;
  margin-right: 5px;

}

@media only screen and (max-width: 600px) {
  .logs {
    margin-top: 16px;
  }
}

