<div class="container-fluid text-center">
  <div class="row">
    <div class="col d-flex-col justify-content-center align-items-center player">
      <h2 class="title">{{namePlayer}}</h2>

      <div class="bar-life">
        <div class="progress">
          <div
            class="progress-bar" role="progressbar" aria-label="Success example"
            [style.width.%]="playerLife" [ngStyle]="{'background': colorLifePlayer()}"
            aria-valuemin="0" aria-valuemax="100"
          >
            <div class="life-pts">
              {{playerLife}}%
            </div>
          </div>
        </div>
      </div>

      <div class="container heroes">
        <img src="../../../assets/hero.png" alt="hero">
      </div>
    </div>

    <div class="col enemy">
      <h2 class="title">Monstro</h2>

      <div class="bar-life">
        <div class="progress">
          <div
            class="progress-bar" role="progressbar" aria-label="Success example"
            [style.width.%]="enemyLife" [ngStyle]="{'background': colorLifeEnemy()}"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
          >
            <div class="life-pts">
              {{enemyLife}}%
            </div>
        </div>
        </div>
      </div>

      <div class="container">
        <img src="../../../assets/enemy.png" alt="enemy">
      </div>
    </div>
  </div>

  <div class="row controls-log">
    <div class="col">
      <h3 class="title">CONTROLES</h3>
      <div class="d-flex justify-content-around">
        <button type="button" (click)="attack()" class="btn btn-primary btn-lg">Ataque</button>
        <button type="button" (click)="especialAttack()" [class.disabled]="especialAttackFlag >= 2 ? false : true" class="btn btn-danger btn-lg">Ataque Especial</button>
        <button type="button" (click)="heal()" [disabled]="playerLife === 100" class="btn btn-success btn-lg">Curar</button>
        <button type="button" (click)="quit()" class="btn btn-dark btn-lg">Desistir</button>
      </div>
    </div>

    <div class="col logs">
      <div *ngFor="let log of arrayLogs" class="{{log.color}}" [ngStyle]="{'display': (log.damage === '') ? 'none': ''}" >
        <h4>{{log.description}} {{log.damage}}</h4>
      </div>
    </div>
  </div>
</div>


