th, tr, td {
  color: white;
  font-weight: bold;
}

td, th {
  padding-left: 50px;
  padding-right: 50px;
}
h4 {
  display: flex;
  color: white;
  text-align: center;
}



.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.contente {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#02abad;
  border-radius: 10px;
  margin-top: 100px;
  height: 70vh;
  overflow: auto;
  scrollbar-width: 1px;
}

.contente::-webkit-scrollbar {
  display: none;
}

.title {
  color: white;
  text-align: center;
}

.btn {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
}
