<div class="container wraper">
  <div class="contente">
    <div>
      <h4>Ranking</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rankingPlayer of rankingPlayer">
          <td>{{rankingPlayer.name}}</td>
          <td>{{rankingPlayer.data | date: 'dd/MM/yyyy'}}</td>
          <td>{{rankingPlayer.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
