.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .btn {
  margin-bottom: 20px;
}

.head {
  display: flex;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.hero {
  margin-top: 90px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-top: 300px;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.btn {
  font-weight: bold;
  background-color:#02abad;
  color: white;
}

.btn:hover {
  background-color:#1bc9cc;
  color: white;
  transition: 0.2s ease-in;
}

.btnConfirm {
  margin-left: 20px;
}

.form-field {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.input-name {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
