<div class="container wraper">
  <!-- <div class="col head"> -->
    <img class="hero" src="../../../assets/hero.png" alt="hero">

  <!-- </div> -->
  <div class="container content">

    <h1 class="title">Bem vindo ao <br /> Defeat The Monster</h1>

    <button type="button" (click)="startGame()" class="btn btn-lg">INICIAR JOGO</button>

    <form class="form-field" *ngIf="inputName === true" (ngSubmit)="enterName()">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Insira seu nome aqui"
            [(ngModel)]="namePlayer"
            name="namePlayer"
          >
        </div>
      </div>
        <button type="submit"  class="btn btnConfirm mb-3">CONFIRMAR</button>
    </form>
  </div>
  <img src="../../../assets/enemy.png" alt="enemy">
</div>


