/* You can add global styles to this file, and also import other style files */
body {
  background-color: black !important;
  /* background-image: url('../src/assets/scene.png');
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
}

